In [1]:
import pandas as pd

COURSES CSV

In [ ]:
filepath1 = "C:\\Users\\ej2595ht\\Desktop\\textbook_data\\BNCollegeCourses_2022-02-05.csv"
filepath2 = "C:\\Users\\ej2595ht\\Desktop\\textbook_data\\BNTextbook_2022-02-05.csv"

In [ ]:
df1 = pd.read_csv(filepath1, encoding="utf-8", low_memory=False)

In [ ]:
df1.department_id.value_counts()

In [ ]:
df1 = df1.drop_duplicates(keep="first")

In [ ]:
df1

In [ ]:
df1 = df1[ ["university", "campus_id", "department", "department_id", "course", "section", "term"]  ]

In [ ]:
df1

In [ ]:
df1 = df1.loc[ (df1["term"]=="SPRING 2022") , :]

In [ ]:
df1

In [ ]:
df1 = df1.dropna()

In [ ]:
df1

In [ ]:
df1["university"] = df1["university"].str.upper()

In [ ]:
df1

In [ ]:
df1.info()

In [ ]:
df1["university"].value_counts().to_frame()

In [ ]:
df1["department"].value_counts().to_frame()

In [ ]:
df1["course"].value_counts().to_frame()

In [ ]:
df1["section"].value_counts().to_frame()

In [ ]:
df1["term"].value_counts().to_frame()

In [ ]:
df1.to_csv("courses_spr2022_validated.csv", index=False)

TEXTBOOKS CSV

In [ ]:
df2 = pd.read_csv(filepath2, encoding="utf-8", low_memory=False)

In [ ]:
df2

In [ ]:
df2 = df2.drop_duplicates(keep="first")

In [ ]:
df2

In [ ]:
df2["book_type"] = df2["book_type"].str.upper()

In [ ]:
df2.book_type.value_counts().to_frame()

In [ ]:
df2 = df2[ ["campus_id", "department_id", "course_id", "section_id", "title", "edition", "publisher", "ISBN", "price"]  ]

In [ ]:
df2

In [2]:
filepath1 = "C:\\Users\\ej2595ht\\Desktop\\textbook_data\\BNCollegeCourses_2022-02-05.csv"
filepath2 = "C:\\Users\\ej2595ht\\Desktop\\textbook_data\\BNTextbook_2022-02-05.csv"

In [ ]:
df1 = pd.read_csv(filepath1, encoding="utf-8", low_memory=False)

In [ ]:
df1.department_id.value_counts()

In [ ]:
df1 = df1.drop_duplicates(keep="first")

In [ ]:
df1

In [ ]:
df1 = df1[ ["university", "campus_id", "department", "department_id", "course", "section", "term"]  ]

In [ ]:
df1

In [ ]:
df1 = df1.loc[ (df1["term"]=="SPRING 2022") , :]

In [ ]:
df1

In [ ]:
df1 = df1.dropna()

In [ ]:
df1

In [ ]:
df1["university"] = df1["university"].str.upper()

In [ ]:
df1

In [ ]:
df1.info()

In [ ]:
df1["university"].value_counts().to_frame()

In [ ]:
df1["department"].value_counts().to_frame()

In [ ]:
df1["course"].value_counts().to_frame()

In [ ]:
df1["section"].value_counts().to_frame()

In [ ]:
df1["term"].value_counts().to_frame()

In [ ]:
df1.to_csv("courses_spr2022_validated.csv", index=False)

TEXTBOOKS CSV

In [3]:
df2 = pd.read_csv(filepath2, encoding="utf-8", low_memory=False)

In [4]:
df2

,store_id,catalog_id,campus_id,term_id,department_id,course_id,section_id,title,edition,publisher,book_type,book_url,book_id,no_textbook_message,recommend_type,ISBN,price,scanDate
0,9301.0,NaN,334,334_1_22_W,334_1_9,200,1,Cengage Unlimited - Access (1 Semester),18,CENGAGE U,Digital Purchase,https://bsu.bncollege.com/c/Cengage-Unlimited-...,MBS_5186058_dg,NaN,eBook Option,9.780358e+12,$119.99,2022-02-05 09:46:58
1,9301.0,NaN,334,334_1_22_W,334_1_9,201,01,Financial Accounting: Information for Decision...,10TH 21,MCG CUSTOM,New Print,https://bsu.bncollege.com/c/Financial-Accounti...,MBS_5780024_new,NaN,REQUIRED,9.781264e+12,$107.90,2022-02-05 09:46:58
2,9301.0,NaN,334,334_1_22_W,334_1_9,201,02,Financial Accounting: Information for Decision...,10TH 21,MCG CUSTOM,New Print,https://bsu.bncollege.com/c/Financial-Accounti...,MBS_5780024_new,NaN,REQUIRED,9.781264e+12,$107.90,2022-02-05 09:46:58
3,9301.0,NaN,334,334_1_22_W,334_1_9,201,03,Financial Accounting: Information for Decision...,10TH 21,MCG CUSTOM,New Print,https://bsu.bncollege.com/c/Financial-Accounti...,MBS_5780024_new,NaN,REQUIRED,9.781264e+12,$107.90,2022-02-05 09:46:58
4,9301.0,NaN,334,334_1_22_W,334_1_9,201,04,Financial Accounting: Information for Decision...,10TH 21,MCG CUSTOM,New Print,https://bsu.bncollege.com/c/Financial-Accounti...,MBS_5780024_new,NaN,REQUIRED,9.781264e+12,$107.90,2022-02-05 09:46:58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992670,88196.0,10001.0,75156912,106477925,106757452,106762860,106737761,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,https://unc.bncollege.com/shop/BNCB_TextbookDe...,550036485535,NaN,REQUIRED,9.781646e+12,$45.60,2022-02-05 09:46:58
992671,88196.0,10001.0,75156912,106477925,106757452,106762860,106737762,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,https://unc.bncollege.com/shop/BNCB_TextbookDe...,550036485535,NaN,REQUIRED,9.781646e+12,$45.60,2022-02-05 09:46:58
992672,88196.0,10001.0,75156912,106477925,106757452,106762860,106737763,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,https://unc.bncollege.com/shop/BNCB_TextbookDe...,550036485535,NaN,REQUIRED,9.781646e+12,$45.60,2022-02-05 09:46:58
992673,88196.0,10001.0,75156912,106477925,106757452,106762860,106737764,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,https://unc.bncollege.com/shop/BNCB_TextbookDe...,550036485535,NaN,REQUIRED,9.781646e+12,$45.60,2022-02-05 09:46:58
992674,88196.0,10001.0,75156912,106477925,106757452,106762860,106737765,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,https://unc.bncollege.com/shop/BNCB_TextbookDe...,550036485535,NaN,REQUIRED,9.781646e+12,$45.60,2022-02-05 09:46:58

In [5]:
df2 = df2.drop_duplicates(keep="first")

In [6]:
df2

,store_id,catalog_id,campus_id,term_id,department_id,course_id,section_id,title,edition,publisher,book_type,book_url,book_id,no_textbook_message,recommend_type,ISBN,price,scanDate
0,9301.0,NaN,334,334_1_22_W,334_1_9,200,1,Cengage Unlimited - Access (1 Semester),18,CENGAGE U,Digital Purchase,https://bsu.bncollege.com/c/Cengage-Unlimited-...,MBS_5186058_dg,NaN,eBook Option,9.780358e+12,$119.99,2022-02-05 09:46:58
1,9301.0,NaN,334,334_1_22_W,334_1_9,201,01,Financial Accounting: Information for Decision...,10TH 21,MCG CUSTOM,New Print,https://bsu.bncollege.com/c/Financial-Accounti...,MBS_5780024_new,NaN,REQUIRED,9.781264e+12,$107.90,2022-02-05 09:46:58
2,9301.0,NaN,334,334_1_22_W,334_1_9,201,02,Financial Accounting: Information for Decision...,10TH 21,MCG CUSTOM,New Print,https://bsu.bncollege.com/c/Financial-Accounti...,MBS_5780024_new,NaN,REQUIRED,9.781264e+12,$107.90,2022-02-05 09:46:58
3,9301.0,NaN,334,334_1_22_W,334_1_9,201,03,Financial Accounting: Information for Decision...,10TH 21,MCG CUSTOM,New Print,https://bsu.bncollege.com/c/Financial-Accounti...,MBS_5780024_new,NaN,REQUIRED,9.781264e+12,$107.90,2022-02-05 09:46:58
4,9301.0,NaN,334,334_1_22_W,334_1_9,201,04,Financial Accounting: Information for Decision...,10TH 21,MCG CUSTOM,New Print,https://bsu.bncollege.com/c/Financial-Accounti...,MBS_5780024_new,NaN,REQUIRED,9.781264e+12,$107.90,2022-02-05 09:46:58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992670,88196.0,10001.0,75156912,106477925,106757452,106762860,106737761,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,https://unc.bncollege.com/shop/BNCB_TextbookDe...,550036485535,NaN,REQUIRED,9.781646e+12,$45.60,2022-02-05 09:46:58
992671,88196.0,10001.0,75156912,106477925,106757452,106762860,106737762,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,https://unc.bncollege.com/shop/BNCB_TextbookDe...,550036485535,NaN,REQUIRED,9.781646e+12,$45.60,2022-02-05 09:46:58
992672,88196.0,10001.0,75156912,106477925,106757452,106762860,106737763,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,https://unc.bncollege.com/shop/BNCB_TextbookDe...,550036485535,NaN,REQUIRED,9.781646e+12,$45.60,2022-02-05 09:46:58
992673,88196.0,10001.0,75156912,106477925,106757452,106762860,106737764,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,https://unc.bncollege.com/shop/BNCB_TextbookDe...,550036485535,NaN,REQUIRED,9.781646e+12,$45.60,2022-02-05 09:46:58
992674,88196.0,10001.0,75156912,106477925,106757452,106762860,106737765,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,https://unc.bncollege.com/shop/BNCB_TextbookDe...,550036485535,NaN,REQUIRED,9.781646e+12,$45.60,2022-02-05 09:46:58

In [8]:
df2["book_type"] = df2["book_type"].str.upper()

C:\Users\ej2595ht\AppData\Local\Temp\ipykernel_10140\2776729766.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["book_type"] = df2["book_type"].str.upper()

In [9]:
df2.book_type.value_counts().to_frame()

                   book_type
NEW PRINT             176916
USED PRINT            137171
NEW PRINT RENTAL       99688
USED PRINT RENTAL      98007
DIGITAL PURCHASE       28571
BUY NEW                22884
BUY USED               16150
DIGITAL RENTAL         15088
RENT NEW               12781
RENT USED              12536
BUY DIGITAL            10627
COURSE MATERIAL         6042
RENT ONLY               4452
RENT DIGITAL            4342

In [10]:
df2 = df2[ ["campus_id", "department_id", "course_id", "section_id", "title", "edition", "publisher", "ISBN", "price"]  ]

In [11]:
df2

,campus_id,department_id,course_id,section_id,title,edition,publisher,ISBN,price
0,334,334_1_9,200,1,Cengage Unlimited - Access (1 Semester),18,CENGAGE U,9.780358e+12,$119.99
1,334,334_1_9,201,01,Financial Accounting: Information for Decision...,10TH 21,MCG CUSTOM,9.781264e+12,$107.90
2,334,334_1_9,201,02,Financial Accounting: Information for Decision...,10TH 21,MCG CUSTOM,9.781264e+12,$107.90
3,334,334_1_9,201,03,Financial Accounting: Information for Decision...,10TH 21,MCG CUSTOM,9.781264e+12,$107.90
4,334,334_1_9,201,04,Financial Accounting: Information for Decision...,10TH 21,MCG CUSTOM,9.781264e+12,$107.90
...,...,...,...,...,...,...,...,...,...
992670,75156912,106757452,106762860,106737761,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,9.781646e+12,$45.60
992671,75156912,106757452,106762860,106737762,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,9.781646e+12,$45.60
992672,75156912,106757452,106762860,106737763,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,9.781646e+12,$45.60
992673,75156912,106757452,106762860,106737764,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,9.781646e+12,$45.60
992674,75156912,106757452,106762860,106737765,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,9.781646e+12,$45.60